{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss",
    "stylelint-config-twbs-bootstrap/css"
  ],
  "rules": {
    "scss/dollar-variable-default": null,
    "at-rule-no-unknown": null
  }
}
